*{
    color: rgb(90, 90, 240);
    font-size: 25px;
}
.wrapper{
    height: 100px;
    width: 650px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.page,
.num{
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}
.page:first-of-type{
    width: 100px;
    justify-self: flex-start;
}
.page:last-of-type{
    width: 100px;
    justify-self: flex-end;
}
.num{
    width: 50px;
    font-weight: bold;
}
/* .wrapper span:first-of-type{
    display: none;
} */
.active{
    background-color: rgb(90, 90, 240);
    color: aliceblue;
    cursor: none;
}
.last{
    background-color: rgb(230, 227, 227);
    color: #ccc;
}